footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: 240px;
  padding: 20px 0;
  margin-top: 24px;
}

.footer-text {
  padding: 16px 0 8px;
  margin: auto;
}

@media (max-width: 600px) {
  footer {
    min-height: 0;
    margin-top: 0;
  }
}
